{% load static %}

<header class="section-header">

<!-- new nav-->

  <nav class="navbar d-none d-md-flex p-md-0 navbar-expand-sm navbar-light border-bottom">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTop4">
      <ul class="navbar-nav mr-auto">
        {% if user.id is None %}
        <li>
          <span class="nav-link">Welcome, guest!</span>
        </li>

        

      </ul>
      <ul class="navbar-nav">
        <li></li>
      
      <a href="{% url 'login' %}" class="nav-link">Sign in</a>
      <a href="{% url 'register' %}" class="nav-link">Register</a>
      <li><a href="#" class="nav-link"> <i class="fa fa-bell"></i> </a></li>
      <li><a href="{% url 'cart' %}" class="nav-link widget-header"> <i class="fa fa-shopping-cart"></i> 
        <span class="badge badge-pill badge-danger notify">{{cart_count}}</span>
      </a></li>
      {% else %}
      <li>
        <span class="nav-link">Welcome, {{user.first_name}}!</span>
      </li>
      
    </ul>
    <ul class="navbar-nav">
      <li></li>
      <a href="{% url 'dashboard' %}" class="nav-link">Dashboard</a>
      <a href="{% url 'logout' %}" class="nav-link">Logout</a>
    <li><a href="#" class="nav-link"> <i class="fa fa-bell"></i> </a></li>

      <li><a href="{% url 'cart' %}" class="nav-link widget-header"> <i class="fa fa-shopping-cart"></i> 
        <span class="badge badge-pill badge-danger notify">{{cart_count}}</span>
      </a></li>
      {% endif %}
    </ul> <!-- list-inline //  -->
    </div> <!-- navbar-collapse .// -->
  </div> <!-- container //  -->

  </nav>
  
  <div class="container" >
  <section class="header-main border-bottom">
  <div class="row row-sm" >
    <div class="col-6 col-sm col-md col-lg  flex-grow-0" >
      <a href="{% url 'home' %}" class="brand-wrap">
          <img class="logo" src="{% static './images/logo.svg' %}">
      </a> <!-- brand-wrap.// -->
    </div>
    <div class="col-6 col-sm col-md col-lg flex-md-grow-0">
  
      <!-- mobile-only -->
      <div class="d-md-none float-right">
        <a href="#" class="btn btn-light"> <i class="fa fa-bell"></i> </a>
        <a href="#" class="btn btn-light"> <i class="fa fa-user"></i> </a>
        <a href="#" class="btn btn-light"> <i class="fa fa-shopping-cart"></i> {{cart_count}} </a>
      </div>
      <!-- mobile-only //end  -->
  
      <div class="category-wrap d-none dropdown d-md-inline-block">
        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">   All category
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'store' %}">All Products
        </a>
        {% for category in links %}
          <a class="dropdown-item" href="{{category.get_url}}">{{ category.category_name }}</a>
        {% endfor %}
        </div>
      </div>  <!-- category-wrap.// -->
    </div> <!-- col.// -->
    <div class="col-lg-6 col-md col-sm-12" >

      <form action="{% url 'search' %}" class="search" method="GET">
        <div class="input-group w-100">
          <input type="text" class="form-control" style="width:60%;" placeholder="Search" name="keyword">

          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>
      <!-- search-wrap .end// -->
    </div>


  </div> <!-- row.// -->
  </section> <!-- header-main .// -->
  

  </nav> <!-- navbar-main  .// -->
  
  </div> <!-- container.// -->

<!-- new nav//-->





</header>
<!-- section-header.// -->
