{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
  <!-- ========================= SECTION PAGETOP ========================= -->
  <section class="section-pagetop bg">
    <div class="container">
      {% if 'search' in request.path  %}
        <h2 class="title-page">Search Result</h2>
      {% else %}
        <h2 class="title-page">Our Store</h2>
      {% endif %}
      

    </div>
    <!-- container // -->
  </section>
  <!-- ========================= SECTION INTRO END// ========================= -->
  <!-- ========================= SECTION CONTENT ========================= -->
  <section class="section-content padding-y">
    <div class="container">

      <div class="row">
        <aside class="col-md-3">

          <div class="card">
            <article class="filter-group">
              <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                  <i class="icon-control fa fa-chevron-down"></i>
                  <h6 class="title">Categories</h6>
                </a>
              </header>
              <div class="filter-content collapse show" id="collapse_1" style="">
                <div class="card-body">

                  <ul class="list-menu">
                    <li> <a href="{% url 'store' %}">All Products</a>
                    </li>
                    {% for category in links %}
                    <li> <a href="{{category.get_url}}">{{category.category_name}} </a>
                    </li>
                    {% endfor %}
                  </ul>

                </div>
                <!-- card-body.// -->
              </div>
            </article>



            <!-- filter-group .// -->

            

            {% for key, values in my_dict.items %}
            <article class="filter-group">
              <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_{{forloop.counter}}" aria-expanded="true" class="">
                  <i class="icon-control fa fa-chevron-down"></i>
                  <h6 class="title">{{ key }}</h6>
                </a>
              </header>
              <div class="filter-content collapse show" id="collapse_{{forloop.counter}}" style="">
                <div class="card-body">
                  {% for value in values  %}
                  <label class="checkbox-btn">
                    <input type="checkbox" id="{{ key }}_{{ forloop.counter }}">
                    <span class="btn btn-light {% if value in selected_values %}selected{% endif %}" onclick="toggleSelection('{{ key }}_{{ forloop.counter }}')">
                      {{ value }}
                    </span>
                  </label>
                {% endfor %}

                </div>
                <!-- card-body.// -->
              </div>
            </article>
            {% endfor %}

            <!-- filter-group .// -->





            <article class="filter-group">
              <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                  <i class="icon-control fa fa-chevron-down"></i>
                  <h6 class="title">Sort by
                  </h6>
                </a>
              </header>
              <div class="filter-content collapse show" id="collapse_3" style="">
                <div class="card-body">

                  <div class="form-row">

                    <div class="form-group text-right col-md-12">
                      
                      <select class="form-control" id="sort-by-select">
                        <option value="lowToHigh">Price: Low to High</option>
                        <option value="highToLow">Price: High to Low</option>
                        <option value="avg_review">Avg. Customer Review</option>
                        <option value="new">Newest Arrivals</option>
                      </select>
                    </div>
                  </div>
                  <!-- form-row.// -->
                  <button class="btn btn-block btn-primary" onclick="applyFilters()">Apply</button>
                </div>
                <!-- card-body.// -->
              </div>
            </article>
            <!-- filter-group .// -->

          </div>
          <!-- card.// -->

        </aside>
        <!-- col.// -->
        <main class="col-md-9">

          <header class="border-bottom mb-4 pb-3">
            <div class="form-inline">
              <span class="mr-md-auto"><b> {{ product_count }} </b> items found
              </span>

            </div>
          </header>
          <!-- sect-heading -->

          <div class="row">
            {% if products %}
            {% for product in products %}
            <div class="col-md-4">
              <figure class="card card-product-grid">
                <div class="img-wrap">

                  <a href="{{ product.get_url }}"><img src="{{ product.images.url }}"> </a>

                </div>
                <!-- img-wrap.// -->
                <figcaption class="info-wrap">
                  <div class="fix-height">
                    <a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
                    <div class="price-wrap mt-2">
                      <span class="price">₩ {{ product.price|intcomma }}</span>
                    </div>
                    <!-- price-wrap.// -->
                  </div>
                  <a href="{% url 'add_cart' product.id %}" class="btn btn-block btn-primary">Added to cart
                  </a>
                </figcaption>
              </figure>
            </div>
            <!-- col.// -->
            {% endfor %}
            {% else %}
            <div>
              <h2>Sorry. There is nothing you want</h2>
            </div>

            {% endif %}
          </div>
          <!-- row end.// -->

          <nav class="mt-4" aria-label="Page navigation sample">
            {% if products.has_other_pages %}
            <ul class="pagination">
              {% if products.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Previous</a></li>
              {% else %}
              <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
              {% endif %}
        
              {% for i in products.paginator.page_range %}
                {% if products.number == i %}
                  <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
              {% endfor %}
        
              {% if products.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a></li>
              {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
              {% endif %}
            </ul>
          {% endif %}
          </nav>

        </main>
        <!-- col.// -->

      </div>

    </div>
    <!-- container .// -->
  </section>
  <!-- ========================= SECTION CONTENT END// ========================= -->

<!-- selected options effect -->
<script>
  function toggleSelection(checkboxId) {
    var checkbox = document.getElementById(checkboxId);
    var span = checkbox.nextElementSibling;
    span.classList.toggle("selected");

    // 선택된 옵션들과 정렬 옵션을 서버로 전송하여 페이지 업데이트
    applyFilters();
  }

  function applyFilters() {
    var selectedValues = [];
    var selectedElements = document.getElementsByClassName("selected");
    for (var i = 0; i < selectedElements.length; i++) {
      selectedValues.push(selectedElements[i].textContent.trim());
    }

    var sortBySelect = document.getElementById("sort-by-select");
    var selectedSortOption = sortBySelect.value;

    var xhr = new XMLHttpRequest();
    xhr.open("POST", "{% url 'update_results' %}");
    xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));

    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4 && xhr.status === 200) {
        var response = xhr.responseText;
        var container = document.querySelector(".section-content .container");
        container.innerHTML = response;
      }
    };

    var data = new FormData();
    data.append("selectedValues", JSON.stringify(selectedValues));
    data.append("selectedSortOption", selectedSortOption);

    xhr.send(data);
  }

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      const cookies = document.cookie.split(";");
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
</script>

{% endblock %}

